<div *ngIf="!user.api_token">
    <h3>Please log in:</h3>
    <form name="loginForm">
        <label>Email:</label>
        <input name="email" class="form-control" type="email" [(ngModel)]="email" />
        <br />
        <label>Password:</label>
        <input name="password" class="form-control" type="password" [(ngModel)]="password" />
        <br />
        <button type="submit" (click)="authenticate()">Login</button>
    </form>
</div>
<div *ngIf="user.api_token">
    <h3>Authenticated as: &nbsp; <img src={{user.image_url}} height="20" /> {{ user.fullname }}</h3>
</div>