<div *ngIf="user.api_token">
    <h3>{{ currentMonth.name }}</h3>
    <p><input type="checkbox" [checked]="round" (change)="round = !round" />Round values to the nearest quarter hour</p>
    <table *ngIf="currentMonth.projects">
        <th>Project</th>
        <th *ngFor="let date of currentMonth.dates">{{ date }}</th>
        <th>TOTAL</th>
        <tr *ngFor="let project of filterEmptyProjects()">
            <td [style.background-color]="project.color">{{ project.description }}</td>
            <td *ngFor="let day of project.days">
                <span *ngIf="day.hours == 0">&nbsp;</span>
                <span *ngIf="day.hours > 0 && round">{{ day.getHoursRounded() | number : '1.2-2' }}</span>
                <span *ngIf="day.hours > 0 && !round">{{ day.hours | number : '1.2-2' }}</span></td>
            <td *ngIf="round">{{ project.getHoursRounded() | number : '1.2-2' }}</td>
            <td *ngIf="!round">{{ project.getTotalHours() | number : '1.2-2' }}</td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td *ngFor="let date of currentMonth.dates">{{ getDayTotal(date) | number : '1.2-2' }}</td>
            <td>{{ getMonthTotal() | number : '1.2-2' }}</td>
        </tr>
    </table>
</div>