<div *ngIf="user.api_token">
    <h3>{{ currentMonth.name }}</h3>
    <table *ngIf="currentMonth.projects">
        <th>Project</th>
        <th *ngFor="let date of currentMonth.dates">{{ date }}</th>
        <tr *ngFor="let project of filterEmptyProjects()">
            <td [style.background-color]="project.color">{{ project.description }}</td>
            <td *ngFor="let day of project.days">
                <span *ngIf="day.hours == 0">&nbsp;</span>
                <span *ngIf="day.hours > 0">{{ day.hours | number : '1.2-2' }}</span></td>
        </tr>
    </table>
</div>