body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #DEDEDE;
}

tr:nth-child(odd) {
    background-color: #EDEDED;
}